/* estilos del nav */
body header nav {
    display: block;
    text-align: end;
    background-color: rgb(252, 239, 239);
    ul li {
        font-weight: bold;
        padding: 1rem;
        transition: 1s;
        &:hover{
            text-decoration: underline;
            transform: scale(1.08);
        }
    }
}


